{% extends 'base.html' %}
{% block body_container_nombre %}
    El tiempo en Matanzas
{% endblock %}

{% block body_container_descripcion %}{% endblock %}

{% block body_container %}
    <div class="grid fluid">
        <div class="row text-center">
            <div class="modal-content span6 offset4" style="padding: 20px 30px 20px;">
                <div class="text-center" id="TT_tBN1kEEkEK48MFsK3fzjzzjDDWaK1rMFLdEdEsC5KED53om5G"><strong><a
                        href="http://www.tutiempo.net">Meteorología</a></strong>
                </div>
                <script type="text/javascript"
                        src="http://www.tutiempo.net/widget/eltiempo_tBN1kEEkEK48MFsK3fzjzzjDDWaK1rMFLdEdEsC5KED53om5G">
                </script>
            </div>
        </div>
{% endblock %}