{% extends 'planestudio_listar.html' %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'planEstudio:asignaturacohorte_listar' %}">Asignaturas de Cohorte</a></li>
{% endblock %}

{% block body_container_nombre %}
    {% include '_buscar.html' %}
{% endblock %}

{% block body_container_descripcion %}{% endblock %}

{% block boton_nuevo_url %}
    {% url 'planEstudio:asignaturacohorte_nuevo' 1 %}
{% endblock %}

{% block buscar_url %}
    {% url 'planEstudio:asignaturacohorte_busqueda' %}
{% endblock %}

