{% extends '_eliminar.html' %}
{% block breadcrumbs %}
    <li><a href="{% url 'planEstudio:plan_estudio_listar' %}">Plan de Estudio</a></li>
    <li><a href="{% url 'planEstudio:plan_estudio_detalle' plan.pk %}">{{ plan.nombre }}</a></li>
    <li>
        <a href="{% url 'planEstudio:cohorte_detalle' object.pk %}">{{ object.carreraTipoCursoId.carreraId }} {{ object.carreraTipoCursoId.tipoCursoId.siglas }} {{ object.carreraTipoCursoId.universidadId.siglas }} {{ object.cursoId }}</a>
    </li>
    <li class="active"><a href="{% url 'planEstudio:cohorte_eliminar' object.pk %}">Eliminar</a></li>
{% endblock %}

{% block body_container_nombre %}
    Cohorte
{% endblock %}

{% block body_container_descripcion %}{% endblock %}

{% block eliminar_url %}
    {% url 'planEstudio:cohorte_eliminar' object.pk %}
{% endblock %}

{% block cancelar_url %}
    {% url 'planEstudio:plan_estudio_detalle' plan.pk %}
{% endblock %}