{{ algo }}
{% if listAsigCohorte %}
    {% for  a in listAsigCohorte %}
        {% ifchanged a.anhoSemestreId %}
            {% ifchanged a.anhoSemestreId.anhoId.nombre %}
                <p></p>
                <h2 class="text-center"> *** {{ a.anhoSemestreId.anhoId.nombre }} año ***</h2>
            {% endifchanged %}
            <div class="listview-outlook" data-role="listview">
                <div class="list-group">
                    <a href="" class="group-title">
                        <h5 class="text-center">{{ a.anhoSemestreId.semestreId }}</h5></a>

                    <div style="display: block;">
                        <a id="cuadro{{ a.pk }}" class=" list marked
                        {% for v in asign_vencidas %}
                            {% if a.pk == v.asignaturaCohorteId.pk %}
                                active
                            {% endif %}
                        {% endfor %}
                        ">
                            <div class="list-content">
                                    <span class="list-title">
                                        {{ a.asignaturaId }}
                                    </span>
                                {% for c in asig_opt_elec1 %}
                                    {% if a.pk == c.asignaturaCohorteId_id %}
                                        <span class="list-remark ">{{ c.asignaturaId }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="listview-outlook" data-role="listview">
                <div style="display: block;">
                    <a id="cuadro{{ a.pk }}" class="list marked
                    {% for v in asign_vencidas %}
                            {% if a.pk == v.asignaturaCohorteId.pk %}
                                active
                            {% endif %}
                        {% endfor %}
                    ">
                        <div class="list-content">
                                <span class="list-title">
                                   <div class="span5"> {{ a.asignaturaId }}</div>

                                </span>
                            {% for c in asig_opt_elec1 %}
                                {% if a.pk == c.asignaturaCohorteId_id %}
                                    <span class="list-remark ">{{ c.asignaturaId }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                </div>
            </div>
        {% endifchanged %}
    {% endfor %}
{% else %}
    <br/>
    <h3 class="text-center">Este cohorte no tiene asignaturas.</h3>
{% endif %}