<header class="bg-dark">
    <div class="navigation-bar dark fixed-top shadow">
        <div class="navigation-bar-content container">
            <a href="{% url 'inicio' %}" class="element"><span class="icon-scissors"></span> Ajustes - UM
                <sup>v1.0</sup></a>
            <span class="element-divider"></span>
            <a class="element1 pull-menu" href="#"></a>
            <ul class="element-menu">
                <li>
                    <a class="dropdown-toggle" href="#">Plan de estudio</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li><a href="{% url 'planEstudio:plan_estudio_listar' %}">Ver planes de estudio</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="dropdown-toggle">Cohorte</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
                                <li><a href="{% url 'planEstudio:comparar' %}">Comparar cohortes</a></li>
                                <li><a href="{% url 'planEstudio:cohorte_duplicar' %}">Duplicar cohorte</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Expedientes</a>
                    <ul class="dropdown-menu dark" data-role="dropdown">
                        <li><a href="{% url 'persona:estudiante_listar' %}">Ver expedientes</a></li>
                        <li><a href="{% url 'persona:estudiante_nuevo' %}">Nuevo expediente</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Ajustes</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li><a href="{% url 'ajustes:ajusteestudiante_listar' %}">Ver ajustes</a></li>
                        <li><a href="{% url 'ajustes:ajusteestudiante_nuevo' %}">Nuevo ajuste</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Reportes</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li>
                            <a class="dropdown-toggle" href="#">Expedientes</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
                                <li><a href="{% url 'ajustes:ajusteestudiante_nuevo' %}">Resultado de expediente</a>
                                </li>
{#                                <li><a target="_blank" href="{% url 'persona:estudiante_listar' %}">Ver todos</a></li>#}
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionexpediente_aprobado_listar' %}">Aprobados</a></li>
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionexpediente_pendiente_listar' %}">Pendientes</a></li>
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionexpediente_devuelto_listar' %}">Devueltos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle" href="#">Ajustes</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
{#                                <li><a href="{% url 'ajustes:ajusteestudiante_nuevo' %}">Resultado de ajuste</a></li>#}
                                <li><a target="_blank" href="{% url 'ajustes:ajusteestudiante_listar' %}">Ver todos</a></li>
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionajuste_aprobado_listar' %}">Aprobados</a></li>
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionajuste_pendiente_listar' %}">Pendientes</a></li>
                                <li><a target="_blank" href="{% url 'ajustes:aprobacionajuste_devuelto_listar' %}">Devueltos</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'planEstudio:comparar' %}">Resultado de comparativa</a></li>
                       {% comment %} <li><a href="{% url 'ajustes:ajusteestudiante_listar' %}">Estudiantes ajustados por cohorte</a>
                        </li>
                        <li><a href="{% url 'ajustes:ajusteestudiante_nuevo' %}">Estudiantes ajustados por curso</a>
                        </li>{% endcomment %}
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle fg-yellow" href="#">Administración</a>
                    <ul class="dropdown-menu dark" data-role="dropdown">
                        <li><a target="_blank" href="../../../../admin/">Inicio</a></li>
                        <li>
                            <a class="dropdown-toggle" href="#">Autenticación y autorización</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
                                <li><a target="_blank" href="../../../../admin/auth/user/">Usuarios</a>
                                </li>
                                <li><a target="_blank" href="../../../../admin/auth/group/">Grupos</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle" href="#">Nomencladores</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/asignatura/">Asignaturas</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/persona/carreratipodecurso/">Carreras</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/curriculo/">Currículos</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/curso/">Cursos</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/disciplina/">Disciplinas</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/persona/nacionalidad/">Nacionalidades</a>
                                </li>
                                <li><a target="_blank"
                                       href="../../../../admin/persona/ubicacion/">Ubicaciones</a></li>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/tipoasignatura/">Tipos
                                    de
                                    asignaturas</a></li>
                                <li><a target="_blank"
                                       href="../../../../admin/planEstudio/tipoevaluacion/">Tipos
                                    de
                                    evaluaciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">Ayuda</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li><a target="_blank" href="{% url 'tiempo' %}"> El tiempo &zwj;
                            <span class="icon-weather-4"></span></a>
                        </li>
                        <li><a href="{{ STATIC_URL }}uploads/django-queries.pdf">Manual de usuario</a></li>
                        {#                        <li><a href="../../../../admin/doc">Documentación del sistema</a></li>#}
                        <li><a href="{% url 'acerca' %}">Acerca de</a></li>

                    </ul>
                </li>
                <span class="element-divider"></span>

                {% if user.is_authenticated %}
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-cog"></span>
                        </a>
                        <ul style="display: none;" class="dropdown-menu place-right" data-role="dropdown"
                            data-show="hover"
                            data-effect='slide'>
                            <li><a href="{% url 'perfil'  user.id %}">Perfil</a></li>
                            {#                            <li><a href="{% url 'bloquear_sesion' %}">Bloquear sesión</a></li>#}
                            <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element image-button image-left place-right text-center">
                        {% if user.first_name == "" %}
                            {{ user.username }} {{ request.session.userImage }}
                        {% else %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% endif %}
                        {% if request.session.userProfile.image == null %}
                            <img src="{{ STATIC_URL }}img/usuario.png">
                        {% else %}
                            <img src="{{ STATIC_URL }}{{ request.session.userProfile.image }}">
                        {% endif %}
                    </button>
                {% else %}
                    <span class="element-divider place-right"></span>
                    <a id="userLogin11" class="element place-right" href="{% url 'autenticar' %}"><span
                            class="icon-locked-2"></span></a>
                    <span class="element-divider place-right"></span>
                {% endif %}
            </ul>
        </div>
    </div>
</header>