<header class="bg-dark">
    <div class="navigation-bar dark fixed-top shadow">
        <div class="navigation-bar-content container">
            <a href="{% url 'inicio' %}" class="element"><span class="icon-scissors"></span> Ajustes - UM
                <sup>v1.0</sup></a>
            <span class="element-divider"></span>
            <a class="element1 pull-menu" href="#"></a>
            <ul class="element-menu">
                <li>
                    <a class="dropdown-toggle" href="#">Plan de estudio</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li><a href="{% url 'planEstudio:plan_estudio_listar' %}">Ver planes de estudio</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="dropdown-toggle">Cohorte</a>
                            <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover"
                                data-effect='slide'>
                                <li><a href="{% url 'planEstudio:comparar' %}">Comparar cohortes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li>
                    <a class="dropdown-toggle" href="#">Ayuda</a>
                    <ul class="dropdown-menu dark" data-role="dropdown" data-show="hover">
                        <li><a target="_blank" href="{% url 'tiempo' %}"> El tiempo &zwj;
                            <span class="icon-weather-4"></span></a>
                        </li>
                        <li><a href="{{ STATIC_URL }}uploads/django-queries.pdf">Manual de usuario</a></li>
                        {#                        <li><a href="../../../../admin/doc">Documentación del sistema</a></li>#}
                        <li><a href="{% url 'acerca' %}">Acerca de</a></li>

                    </ul>
                </li>
                <span class="element-divider"></span>

                {% if user.is_authenticated %}
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-cog"></span>
                        </a>
                        <ul style="display: none;" class="dropdown-menu place-right" data-role="dropdown"
                            data-show="hover"
                            data-effect='slide'>
                            <li><a href="{% url 'perfil'  user.id %}">Perfil</a></li>
                            {#                            <li><a href="{% url 'bloquear_sesion' %}">Bloquear sesión</a></li>#}
                            <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element image-button image-left place-right text-center">
                        {% if user.first_name == "" %}
                            {{ user.username }} {{ request.session.userImage }}
                        {% else %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% endif %}
                        {% if request.session.userProfile.image == null %}
                            <img src="{{ STATIC_URL }}img/usuario.png">
                        {% else %}
                            <img src="{{ STATIC_URL }}{{ request.session.userProfile.image }}">
                        {% endif %}
                    </button>
                {% else %}
                    <span class="element-divider place-right"></span>
                    <a id="userLogin11" class="element place-right" href="{% url 'autenticar' %}"><span
                            class="icon-locked-2"></span></a>
                    <span class="element-divider place-right"></span>
                {% endif %}
            </ul>
        </div>
    </div>
</header>